* {
    font-family: sans-serif
}

ion-content {
    --ion-background-color: #ffffff
}

.logo-container {
    width: 100%;
    height: 20%;
}

ion-item {
    --background: #fff;
    --color: #d80c0c;
    --border-color: #d80c0c;
    width: 85%
}

.input-container {
    height: 100px;
    position: relative
}

.check-container {
    flex-direction: row;
    height: 100px;
    position: relative;
    --background-checked: #d80c0c;
    margin: 0 15px 0 30px
}

ion-label {
    color: #d80c0c;
    font-size: 13px;
    width: 45%
}

.label-2 {
    width: 135px;
    padding-right: 50px
}

.label-3 {
    width: 160px;
    padding-right: 48px
}

.label-4 {
    width: 185px;
    padding-right: 25px
}

ion-button {
    --background: #d80c0c;
    width: 85%;
    height: 45px
}