<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     GRIFO ASTO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <ion-button color="primary" (click)="listar851()">LISTA</ion-button> -->
  <ion-row>
    <ion-col size="6" *ngFor="let item of surtidores">
      <ion-card  class="ion-text-center" (click)="registrar(item)">
        <ion-card-header>
          <ion-card-title>{{item.titulo}}</ion-card-title>
          <ion-card-subtitle>{{item.tipo}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <ion-icon [name]="item.icon" size="large"></ion-icon>
        </ion-card-content>
       
      </ion-card>
    </ion-col>
  </ion-row>

 

</ion-content>
